.App {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  background-color: #cad2c5;
  max-height: 100vh;
}

h1 {
  flex: 100%;
  order: 1;
}

.forminput {
  flex: 48%;
  order: 3;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #f4f3ee;
  border-left: #cad2c5 solid 5px;
  max-height: 80vh;
  
}
input {
  margin: 20px 20px;
  border: white;
  height: 25px;
}

button {
  max-width: 30em;
  margin-right: 5%;
  margin-bottom: 5%;
  align-self: flex-end;
  border: white;
  background-color: white; 
}

.current-notes {
  overflow-y: scroll;
  background-color: #f4f3ee;
  flex: 48%;
  order: 2;
  width: 50%;
  display: flex;
  flex-flow: column;
  max-height: 80vh;
}

.note-info {
  display: flex;
  flex-flow: row;
}

.note-text {
  display: flex;
  flex-flow: column;
  width: 100%;
  order: 2;
  align-items: flex-start;
  justify-content: space-between; 
}



.note-info img {
  max-width: 30%;
  order: 1;
  height: auto;
  float: left;
  margin: 15px;
}



.signout-button {
  order: 4;
  flex: 100%;
  background-color: #cad2c5;
}

